(function () {
  var commentHtml = "<li><%= j @comment.text %></li><li><%= j @comment.user.name %></li>";
  var id = $('ul.comments').data('post-id');
  $('[data-post-id=' + id + ']').prepend(commentHtml);
})(); 