%h1 Destinations Following

%table
  %tr
    %th User
    %th City
    %th Description

  - @stars.each do |star|
    %tr
      %td= link_to star.user.name, user_path(star.user_id)
      %td= link_to star.destination.city, user_destination_path(star.user_id, star.destination_id)
      %td= star.destination.snippet
