// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  list-style: none;
}

.comment-one, .comment-user {
   // border: 1px solid red;
   padding: 2px;
}

.comment-one {
  text-transform: capitalize;
}

.comment-user {
  font-weight: bold;
  img {
    max-width: 15px;
    height: auto;
  }
}