// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.destination {
  text-align: justify;
  margin: 5px 20px;
}

.post-wall {
  margin: 5px 20px;
}

.info {
  text-align: justify;
}

.album {
 margin: 5px 10px;
}

.post-form {
  width: 75%;
  margin-top: 10px;
  position: relative;
}

form.new-post {
border: 2px solid #333333;
opacity: 0.9;
display: inline-block;
}

form.new-post fieldset legend textarea  {
display: inline-block;
}

.button-bar {
  margin: 5px 20px;
}

.search {
  margin-left: 10px;
}
.search-field {
  width: 33%;
  margin-left: 10px;
}

