// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.destination {
  text-align: justify;
  margin: 5px 20px;
}

// .post-wall {
//   margin: 5px 20px;
// }

.info {
  text-align: justify;
}

.album {
 margin: 5px 10px;
}

.post-form {
  width: 75%;
  margin-top: 10px;
  position: relative;
}

form.new-post {
display: none;
}

.button-bar {
  margin: 5px 20px;
}

