/****************IMAGE***************/
img {
  margin-bottom: 5px;
}

.user img {
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.thumb {
  width: 100px;
  height: auto;
}

.medium {
  width: 300px;
  height: auto;
}

.tiny {
  width: 50px;
  height: auto;
}

.tiny.white {
  background-color: white;
  width: 40px;
  height: auto;
  border-radius: 45px;
  margin-bottom: 10px;
}

.homepage-logo-big {
  max-width: 200px;
  height: auto;
  float: right;
  padding: 5px 5px 5px 10px;;
  transform:rotate(7deg);
  -ms-transform:rotate(7deg); /* IE 9 */
  -webkit-transform:rotate(7deg); /* Safari and Chrome */
}

.homepage-collage {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  opacity: 75%;
}