/****************IMAGE***************/
// * {
//   border: 1px solid red;
// }


img {
  margin-bottom: 5px;
}

.user img {
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.thumb {
  width: 100px;
  height: auto;
}

.entre {
  width: 155px;
  height: auto;
}

.medium {
  width: 300px;
  height: auto;
}

.medium .right {
  float: right;
}

.tiny {
  width: 50px;
  height: auto;
}

.homepage-logo-big {
  width: auto;
  max-height: 250px;
  padding: 5px 5px 5px 10px;;
  // transform:rotate(5deg);
  // -ms-transform:rotate(5deg); /* IE 9 */
  // -webkit-transform:rotate(5deg); /* Safari and Chrome */
}


