/****************NAV****************/
li.active {
  background-color: #333333;
}

.top-bar {
  background: #333333;
  overflow: hidden;
  height: 50px;
}

.nav-logo {
  width: 40px;
  height: auto;
  margin-bottom: 20px;
}