// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * {
//   border: 1px solid red;
// }

#globe {
  width: 100%;
  height: auto;
}

#static-landing {
  background: url("http://res.cloudinary.com/dljyjkavz/image/upload/v1390496211/blurred_bg_oba6p5.png") 0 0 no-repeat;
  height: 1000px;
  width: auto;
}

canvas {
  width: 100%;
  height: auto;
}

#home-info {
  color: #fff;
  .title {
    color: #fff;
  }
}

.homepage-footer {
  background: #333333;
  color: #fff;
  padding-top: 15px;
  height: 45px;
}