/****************TYPOGRAPHY****************/

h1, h2, h3, h4, h5 {
  font-family: 'Molengo', Georgia, Times, serif;
}

h3.title {
  font-weight: bold;
}
 
p, a {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}