// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/****************USER****************/
.user {
  text-align: justify;
  margin: 5px 20px;
}

.user.side-nav {
}

.map {
  border-radius: 5px;
}

.pins img {
  max-width: 20px;
  height: auto;
  margin-top: 5px;
}
