// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/****************USER****************/
.user {
  text-align: justify;
  background-color: #;
}

#map {
  height: 300px;
  width: 100%;
  box-shadow: 5px 5px 3px #333333;
}

.pins img {
  max-width: 20px;
  height: auto;
  margin-top: 5px;
}

.destination-grid {
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 7px 7px 3px #07599B;
  &:hover {
    box-shadow: 7px 7px 3px #333333;
  }
}

.gridler {
  background-color: #f0f0f0;
}

.hero-wrapper {
  background-color: #07599B;
  color: #fff;
  h3 {
    color: #fff;
  }
}

canvas {
    display: block;
}

.user-list {
  margin-left: 10px;
  img {
    max-width: 75px;
    height: auto;
    border-radius: 2px;
  }
}
